Source: aeolus
Section: sound
Priority: extra
Maintainer: Debian Multimedia Maintainers <pkg-multimedia-maintainers@lists.alioth.debian.org>
Uploaders: Free Ekanayaka <freee@debian.org>,
 Alessio Treglia <quadrispro@ubuntu.com>
DM-Upload-Allowed: yes
Build-Depends: cdbs,
 debhelper (>= 5),
 libasound2-dev,
 libjack-dev,
 libclthreads-dev,
 libclxclient-dev (>= 3.3.1),
 libclalsadrv-dev
Standards-Version: 3.8.3

Package: aeolus
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, stops
Description: Synthesised pipe organ emulator
 Aeolus is a synthesised (i.e. not sampled) pipe organ emulator that
 should be good enough to make an organist enjoy playing it. It is a
 software synthesiser optimised for this job, with possibly hundreds
 of controls for each stop, that enable the user to "voice" his
 instrument.
 .
 Main features of the default instrument: three manuals and one pedal,
 five different temperaments, variable tuning, MIDI control of course,
 stereo, surround or Ambisonics output, flexible audio controls
 including a large church reverb.
 .
 Aeolus is not very CPU-hungry, and should run without problems on a
 e.g. a 1GHz, 256Mb machine.
