#!/usr/bin/make -f

%:
	dh --with quilt $@

override_dh_auto_configure:
override_dh_auto_clean:
	cd source && $(MAKE) clean
override_dh_auto_build:
	cd source && $(MAKE)
override_dh_auto_install:
	cd source && $(MAKE) install DESTDIR=$(CURDIR)/debian/aeolus/
	mkdir -p $(CURDIR)/debian/aeolus/etc
	mkdir -p $(CURDIR)/debian/aeolus/usr/share/applications
	cp debian/aeolus.conf $(CURDIR)/debian/aeolus/etc
	cp debian/aeolus.desktop $(CURDIR)/debian/aeolus/usr/share/applications
override_dh_installchangelogs:
	dh_installchangelogs README
